:host {
  color: white;
  flex: 1;
}

.news-entry {
  background-color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.news-pic {
  object-fit: cover;
}

.header,
.news-text {
  padding: 0 10%;
  word-wrap: break-word;
}

.not-found {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;

    .clickable-link:hover {
        text-decoration: underline;
    }
}

@media only screen and (max-width: 1000px) {
  .header,
  .news-text {
    padding: 0 40px;
    width: auto;
  }
}

@media only screen and (max-width: 850px) {
  .news-pic {
    max-height: 450px;
  }
}

@media only screen and (max-width: 600px) {
  .news-pic {
    max-height: 300px;
  }

  .header,
  .news-text {
    padding: 0 20px;
  }
}
