:host {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  background-color: darkred;
  box-shadow: 0 0 5px #000;

  padding: 10px;
}

.footer-part {
  color: white;
}

.footer-part:hover {
  cursor: pointer;
  color: yellow;
}

.link-to-admin {
  color: var(--regular-green);
}
