<div class="footer-part dark-mode-part">
    <label class="switch" for="dark-mode">
        <input type="checkbox" id="dark-mode" name="dark-mode" [checked]="darkMode" (change)="toggleDarkMode()"/>
        <span class="slider round"></span>
    </label>
    <span>Dark Mode</span>
</div>

<span class="footer-part clickable">Impressum</span>
<!-- Statuten als Download -->
<span class="footer-part clickable">Statuten</span>

<div class="logo-links">
    <a href="https://www.instagram.com/fc_schwarzach/" target="blank">
        <img class="footer-part clickable" src="assets/insta_logo_white.png" width="20px" />
    </a>
    <a href="https://www.facebook.com/fcschwarzach1955"  target="blank">
        <img class="footer-part clickable" src="assets/fb_logo_white.png" width="20px" />
    </a>
    <a href="https://github.com/stth24/fcschwarzach-toolbox" target="blank">
        <img class="footer-part clickable" src="assets/github_logo_white.png" width="20px" />
    </a>
</div>
<div class="footer-part clickable link-to-admin"><a [href]="COCKPIT_URL" target="blank">Admin</a></div>