:host {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

  background-color: darkred;
  box-shadow: 0 0 5px #000;

  padding: 10px 0;

  position: relative;
  z-index: 20;
}

.header-logo {
  width: 50px;
}

.header-item {
  color: white;
  font-size: 1.5rem;

  &:hover,
  & a:hover {
    cursor: pointer;
    color: yellow;
  }

  .header-item a {
    color: white;
    text-decoration: none;
  }
}

.mobile-menu {
  display: none;
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-top: 2px solid white;

  padding: 20px 0;

  background-color: darkred;

  position: absolute;
  z-index: 100;
  width: 100vw;
  top: 100%;
}

@media only screen and (max-width: 900px) {
  :host {
    gap: 20px;
  }
}

@media only screen and (max-width: 700px) {
  :host {
    padding: 5px 0;
  }

  :host > .header-item {
    display: none;
  }

  .header-logo {
    width: 40px;
  }

  .mobile-menu {
    display: block;
  }
}
