/* You can add global styles to this file, and also import other style files */

@import 'libs/shared/base-styles/src/shared-styles.scss';


html {
    --part-background-light: #ececec;
    --part-background-medium: #d5d5d5;
}

.dark-mode {
    --background: var(--dark-background);
    --on-background: var(--on-dark-background);
    --part-background-light: #2f2f2f;
    --part-background-medium: #1e1e1e;
}