/* You can add global styles to this file, and also import other style files */

@import 'libs/shared/base-styles/src/shared-styles.scss';


html {
    --part-background-light: #ececec;
}

.dark-mode {
    --background: var(--dark-background);
    --on-background: var(--on-dark-background);
    --part-background-light: #2f2f2f;
}

.tile-title {
    font-size: 1.3rem;
    font-weight: bold;
}

* {
    box-sizing: border-box;
}
