:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}
.main {
  display: flex;
  flex: 1;
  overflow: auto;
  position: relative;
}

.content {
    display: flex;
    overflow: auto;
    padding: 10px;
    width: 100%;
}

.nav-out {
  min-width: 200px;
  max-width: 300px;
  opacity: 1;
}

.nav-in {
  min-width: 0;
  max-width: 0;
  width: 0;
  opacity: 0;
}
