
<app-loader *ngIf="loadingProgress.loadingTasks.length > 0 && loadingProgress.completeTasks.length === 0"></app-loader>

<app-error-box *ngIf="fetchError.status"
    [title]="fetchError.message.title"
    [message]="fetchError.message.text"></app-error-box>

<ng-container *ngIf="loadingProgress.completeTasks.length > 0 && !fetchError.status">
    <div class="header">
        <button (click)="previousWeek()">Voherige</button>
        <span class="header-date">{{firstDayOfSelectedWeek | date: 'dd.MM.yyyy'}} </span>
        <button (click)="onResetToCurrentWeek()">Aktuelle Woche</button>
        <button (click)="nextWeek()">Nächste</button>
        <div class="progress-box" *ngIf="loadingProgress.loadingTasks.length > 0">
            <progress  [value]="loadingProgress.loadingTasks.length / (loadingProgress.completeTasks.length + loadingProgress.loadingTasks.length)"></progress>
            <span>Ladefortschritt: {{loadingProgress.loadingTasks.length / (loadingProgress.completeTasks.length + loadingProgress.loadingTasks.length) * 100}}%</span>
        </div>
    </div>
    
    <div class="container">
        <div class="day" 
            *ngFor="let currentDayEntry of currentWeek"
            [class.isWeekend]="currentDayEntry.date.getDay() === 6 || currentDayEntry.date.getDay() === 0">
            <div class="day-header">
                {{currentDayEntry.date | date: 'EEEE dd.MM.yyyy'}}
            </div>
            <ng-container *ngFor="let event of currentDayEntry.events">
                <div class="event-entry" [class.single-event]="event.type === eventType.oneTime">
                        <span class="event-name">{{event.name}}</span>
                        <div class="event-entry-details">
                            <span class="event-details-topic">Start:</span>
                            <span>{{event.timeDetail.startTimeHour + ':' + event.timeDetail.startTimeMinute}} Uhr</span>
    
                            <!-- we dont need to show duration if none is available -->
                            <ng-container *ngIf="event.timeDetail.durationInMin">
                                <span class="event-details-topic">Dauer:</span>
                                <span>{{event.timeDetail.durationInMin}}min</span>
                            </ng-container>
    
                            <span class="event-details-topic">Ort:</span>
                            <span>{{event.timeDetail.location}}</span>
                        </div>
                    </div>
            </ng-container>

            <!-- No events at this day -->
            <div class="without-entry" *ngIf="currentDayEntry.events.length < 1"></div>
        </div>
    </div>
</ng-container>
