<!-- NEWS -->
<div class="main-part news-part" id="news">
    <div class="part-content news-content" id="news-content">
        <shared-ui-helpers-loader *ngIf="!news || news.length < 1"></shared-ui-helpers-loader>
        <ng-container *ngIf="news && news.length > 0">
            <div class="nav-left-button" (click)="scrollSlider(true)"><img src="assets/left_arrow.svg" alt="<"/> </div>
            <ng-container *ngFor="let item of news, let i = index">
                <app-news-item [newsItem]="item" [index]="i" [totalNewsItems]="news.length" *ngIf="i === currentNewsElement"></app-news-item>
            </ng-container>
            <div class="nav-right-button" (click)="scrollSlider(false)"> <img src="assets/left_arrow.svg" alt="<"/> </div>
        </ng-container>
    </div>
</div>

<!-- Feed -->
<div class="main-part" id="instagram-feed">
    <h1 class="part-header">Instagram</h1>
    <div class="part-content">
        <div class="part-region-content">
            <h2 class="part-region-content-header">Beiträge</h2>
            <iframe id="instagram-iframe" class="instagram-embed tile-form" src='https://www.juicer.io/api/feeds/fc_schwarzach/iframe' frameborder='0'></iframe>
        </div>
    </div>
</div>

<div class="divider"></div>

<!-- KM -->
<div class="main-part" id="km">
    <h1 class="part-header">KM</h1>
    <div class="part-content verein-content">
        <div class="part-region-content">
            <h2 class="part-region-content-header">Kommende Spiele</h2>
            <h3 class="part-region-content-header"><a href="/toolbox/#/generalplan" class="clickable-link">&#9654; Ganzen Spielplan anzeigen</a></h3>
            <app-next-km-games [teamData]="teamData"></app-next-km-games>
        </div>
    </div>
</div>

<div class="divider"></div>

<!-- NACHWUCHS -->
<div class="main-part" id="nachwuchs">
    <h1 class="part-header">Nachwuchs</h1>
    <div class="part-content">
        <div class="part-region-content">
            <ng-container *ngIf="nwinfo">
                <h2 class="part-region-content-header">Nachwuchsleitung</h2>
                <div [innerHtml]="nwinfo.text | safeHtml"></div>
                <div class="funktionen-content">
                    <app-person-tile *ngIf="nachwuchsleiter" [person]="nachwuchsleiter"></app-person-tile>
                </div>
            </ng-container>
        </div>
        <div class="part-region-content">
            <h2 class="part-region-content-header">Kommende Spiele</h2>
            <h3 class="part-region-content-header"><a href="/toolbox/#/generalplan" class="clickable-link">&#9654; Ganzen Spielplan anzeigen</a></h3>
            <app-next-nw-games  [teamData]="teamData"></app-next-nw-games>
        </div>
    </div>
</div>

<div class="divider"></div>

<!-- VEREIN -->
<div class="main-part" id="verein">
    <h1 class="part-header">Verein</h1>
    <div class="part-content">
        <div class="part-region-content verein-content">
            <h2 class="part-region-content-header">Funktionäre:</h2>
            <div class="funktionen-content">
                <app-person-tile *ngFor="let person of vorstand" [person]="person"></app-person-tile>
            </div>
        </div>
        <div class="part-region-content">
            <h2 class="part-region-content-header">Vereinsgeschichte</h2>
            <div class="main-part-text" id="history-text" [innerHtml]="historyText | safeHtml"></div>
        </div>
    </div>
</div>

<div class="divider"></div>

<!-- TEAMS -->
<div class="main-part" id="teams">
    <h1 class="part-header">Teams</h1>
    <div class="part-content">
        <div class="part-region-content">
            <h2 class="part-region-content-header">Mannschaften</h2>
            <div class="mannschaften-content">
                <app-team-tile *ngFor="let team of mannschaften" [team]="team"></app-team-tile>
            </div>
        </div>
    </div>
</div>

<div class="divider"></div>

<!-- NEWSLETTER -->
<div class="main-part">
    <h1 class="part-header">Newsletter</h1>
    <div class="part-content">
        <ng-container *ngIf="newsletterInfo">
            <h2 class="part-region-content-header">Anmeldung</h2>
            <p class="main-part-text">
                {{newsletterInfo.text}}
            </p>
            <a [href]="newsletterInfo.link" target="_blank">
                <button>Hier geht's zur Anmeldung</button>
            </a>
        </ng-container>    
    </div>
</div>

<div class="divider"></div>

<!-- KONTAKT -->
<div class="main-part" id="kontakt" *ngIf="kontakt">
    <h1 class="part-header">Kontakt</h1>
    <div class="part-content kontakt-content">
        <div class="part-region-content">
            <p class="main-part-text">
                {{kontakt.addresse}}
            </p>
            <p class="main-part-text">
                {{kontakt.plz}} {{kontakt.ort}}
            </p>
            <p class="main-part-text">
                {{kontakt.email}}
            </p>
            <p class="main-part-text">
                {{kontakt.phone}}
            </p>
        </div>
        <div class="part-region-content maps-embed" *ngIf="kontaktMapsSrc">
            <iframe
                class="maps-embed-iframe"
                height="450"
                style="border:0"
                loading="lazy"
                allowfullscreen
                referrerpolicy="no-referrer-when-downgrade"
                [src]="kontaktMapsSrc">
          </iframe>
        </div>
    </div>
</div>

<div class="divider"></div>

<!-- SPONSOREN -->
<div class="main-part" id="sponsoren">
    <h1 class="part-header">Sponsoren</h1>
        <app-sponsors></app-sponsors>
</div>
