:host {
  display: flex;
  background-color: darkred;
  color: white;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;

  box-shadow: 0px 0px 5px 0 black;
  z-index: 10;
}

.logged-in {
  background-color: var(--dark-gray);
}

img {
  height: 40px;
  margin-right: 10px;
}

.toggle-nav-button {
  transition: transform 0.7s ease;

  &:hover {
    cursor: pointer;
  }
}

.navClosed {
  transform: rotate(180deg);
}

@media only screen and (max-width: 600px), screen and (max-height: 600px) {
  h1 {
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  img {
    height: 30px;
  }
}
