<shared-ui-helpers-loader *ngIf="!teamItem"></shared-ui-helpers-loader>

<ng-container *ngIf="teamItem">
    <img class="team-img" [src]="teamItem.image.path" />
    <div class="team-content">
        <h1>{{teamItem.name}}</h1>
        <div class="player-grid" *ngIf="spieler.length > 0">
            <div class="player-card" *ngFor="let player of spieler">
                <img class="player-img" [src]="player.image.path" />
                <div class="player-name">
                    <div class="player-name-text">{{player.name}}</div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

