.grid {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-gap: 10px;

  margin-top: 20px;
  margin-bottom: 10px;
}

.input-name {
  height: max-content;
}

.team-line {
  width: 100%;
  border-color: darkred;
  grid-column: span 4;
}

.grid > button {
  width: 100px;
}

.delete-button {
  border-color: darkred;
  color: darkred;

  &:hover {
    color: white;
    background-color: darkred;
  }
}

@media only screen and (max-width: 1500px) {
  .input-url {
    width: 50em;
  }
}

@media only screen and (max-width: 1200px) {
  .input-url {
    width: 20em;
  }
}

@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, max-content);
  }

  .input-name,
  .input-url {
    grid-column: span 2;
  }

  .input-url {
    width: 20em;
    height: 5em;
  }

  .team-line {
    grid-column: span 2;
  }
}
