:host {
  display: block;
  padding: 20px;
}

.login-data {
  display: flex;
  flex-direction: column;

  row-gap: 20px;

  input {
    width: 300px;
    padding: 10px;
  }
}

.login-buttons {
  margin-top: 20px;

  display: flex;
  column-gap: 10px;
  justify-content: flex-end;
}

.error-message {
  color: darkred;
}

@media only screen and (max-width: 600px) {
  :host {
    padding: 5px;
    margin: 10px;
  }

  .login-data {
    row-gap: 10px;

    input {
      padding: 5px;
      width: 250px;
    }
  }

  .login-buttons {
    margin-top: 10px;
  }
}
