<ng-container *ngFor="let team of teams">
    <div class="tile nw-game" 
        [class.km-game]="team.name === 'KM'" 
        [class.nw-game]="team.name !== 'KM' && team.name !== '1b'"
        [class.location-home]="game.location.value.includes('Schwarzach')"
        *ngFor="let game of team.events">
        <span class="game-title">{{game.summary.value}}</span>
        <span>{{game.description.value}}</span>
        <hr class="line">
        <span class="game-date">{{game.dtstart.value | date:'EEEE dd.MM.yyyy'}}</span>
        <span class="game-date">{{game.dtstart.value | date:'HH:mm'}} Uhr</span>
        <hr class="line">
        <span>{{game.location.value}}</span>
    </div>
</ng-container>