:host {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 300px));
  gap: 20px;
}

//we need :nth-child(1n) to override .tile:nth-child(2n) from parent
.game-tile:nth-child(1n) {
  gap: 5px;
  padding: 10px 20px;

  background-color: var(--dark-gray);
  color: var(--on-dark-background);
}


.game-title {
  font-weight: bold;
  font-size: 1rem;
}

.line {
  width: 100%;
  border: 1px solid var(--dark-blue);
  margin: 2px 0;
}

.game-date {
  font-weight: bold;
}

.home-logo {
    display: none;
}

.location-home:nth-child(1n) {
  border: 10px solid darkred;
  background-color: var(--background);
  color: var(--on-background);
  
  .game-location {
    display: flex;
    gap: 10px;

    .home-logo {
        display: inline-block;
        height: 40px;
        object-fit: contain;
    }

    .game-location-text {
        font-weight: bold;
    }
  }
}
