:host {
    display: flex;
    width: 100%;
    overflow: auto;
    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
}

:host::-webkit-scrollbar {
    display: none;
}

.sponsor-container {
    display: flex;
    height: 100%;
    gap: 20px;
    animation: slide 60s linear infinite;
}

.sponsor-tile {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.sponsor-img {
    height: 100%;

    img {
        height: 100%;
        object-fit: contain;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    
        transition: all 0.5s;
    
    }
    &:hover {
      cursor: pointer;
  
      img {
          -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
          filter: grayscale(0%);
      }
    }
}

@keyframes slide {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@media only screen and (max-width: 600px) {
    .sponsor-container {
        animation-duration: 120s;
    }
}