<shared-ui-helpers-loader *ngIf="!sponsors || sponsors.length < 1"></shared-ui-helpers-loader>

<div class="sponsor-container" [id]="SPONSOR_CONTAINER_ID">
    <ng-container *ngIf="sponsors && sponsors.length > 0">
        <div class="sponsor-tile" *ngFor="let sponsor of sponsors" [title]="sponsor.name">
            <a class="sponsor-img" [href]="sponsor.url || '#'">
                <img [src]="sponsor?.image?.path" [alt]="sponsor.name" />
            </a>
        </div>
    </ng-container>
</div>