<app-loader *ngIf="teams.length < 1 && !fetchError.status"></app-loader>

<app-error-box *ngIf="fetchError.status"
    [title]="fetchError.message.title"
    [message]="fetchError.message.text">
</app-error-box>

<ng-container  *ngIf="teams.length > 0">
    <div class="button-group">
        <button (click)="toggleFilters()">Filter <span class="filter-button-text">anzeigen/ausblenden</span></button>
        <button *ngIf="matchTable.length > 0" (click)="navigateToCurrentDate()">
            <span class="today-button-text">Zu</span> 
            Heute 
            <span class="today-button-text">springen</span>
        </button>
    </div>

    <!-- Filters -->
    <app-match-filters 
        [showFilters]="showFilters" 
        [filters]="filters" 
        [teams]="teams" 
        (updatedFilters)="createTableData()"></app-match-filters>

    <!-- Table -->
    <div class="table-wrapper" *ngIf="matchTable.length > 0">
        <table>
            <thead>
                <th class="firstColumn">Datum:</th>
                <ng-container *ngFor="let team of teams">
                    <th *ngIf="filters.teamsUiState.get(team)?.show">{{team.name}}</th>
                </ng-container>
            </thead>
            <tbody>
                <tr *ngFor="let gameday of matchTable; let i = index" [class.isWeekend]="gameday.date.getDay() === 6 || gameday.date.getDay() === 0">
                    <td [id]="'row-' + i" class="firstColumn">
                        <p><b>{{gameday.date | date: 'EEEE'}}</b></p>
                        <p><b>{{gameday.date | date: 'dd.MM.yyyy'}}</b></p>
                    </td>
                    <ng-container *ngFor="let team of gameday.teams">
                        <td [class.withoutGameTd]="team.events.length < 1"
                        [class.withGame]="team.events.length > 0">
                            <div class="match-event" *ngIf="team.events.length > 0">
                                <p><b>{{team.events[0].summary.value}}</b></p>
                                <p>{{team.events[0].description.value}}</p>
                                <hr>
                                <p>{{team.events[0].dtstart.value | date: 'HH:mm'}} Uhr</p>
                                <hr>
                                <p [class.location-home]="team.events[0].location.value.includes('Schwarzach')">
                                    {{team.events[0].location.value}}
                                </p>
                            </div>
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>