:root {
  --background: #fafafa;
  --dark-blue: #466388;
  --medium-blue: #7dace8;
  --dark-gray: #444648;
  --light-gray: #f4f5f7;
  --regular-green: #8bc34a;
  --error-red: #d21b1b;

  //   font-weight
  --semi-bold: 550; //between bold and regular
}
