:host {
    display: flex;
    width: 100%;
    overflow: auto;
    flex-direction: column;
    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

:host::-webkit-scrollbar {
    display: none;
}

.sponsor-container {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min-content, 200px));
    gap: 20px;
    justify-content: center;
}

.with-divider {
    padding: 20px 0;
}

.sponsor-tile {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.sponsor-img {
    height: 100%;

    img {
        height: 100%;
        object-fit: contain;
    }

    &:hover {
      cursor: pointer;
    }
}

@media only screen and (max-width: 600px) {
    .sponsor-container {
        grid-template-columns: repeat(auto-fill, minmax(min-content, 100px));
    }

    .sponsor-tile {
        height: 30px;
    }
}