.events-selection {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.event-buttons {
  display: flex;
  gap: 10px;
}

.details {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-gap: 10px;

  .details-header {
    grid-column: span 2;
  }

  .details-buttons,
  .new-detail-button {
    grid-column: 2;
  }

  .details-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  .new-detail-button {
    justify-self: flex-end;
  }
}

.detail-line {
  width: 100%;
  grid-column: span 2;
  border-color: var(--dark-blue);
}

.add-event-modal,
.add-detail-modal {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 10px;

  input {
    flex: 1;
  }

  .add-modal-buttons {
    align-self: flex-end;
    display: flex;
    gap: 10px;
  }
}

.add-detail-modal .details {
  margin: 20px 0;
}
