<div class="entries-top">
    <div class="nav-entry" 
        *ngFor="let entry of menuEntries"
        [class.selected-entry]="entry.id === selectedEntry"
        (click)="navigate(entry)">
        {{entry.id === selectedEntry ? '>' : ''}} {{entry.label}}
    </div>

    
    <a href="http://fcschwarzach.com">
        <div class="nav-entry">Zurück zur Homepage</div>
    </a>

    <div class="admin-entries" *ngIf="loggedIn">
        <div class="nav-entry"  
            *ngFor="let entry of adminMenuEntries"
            [class.selected-entry]="entry.id === selectedEntry" 
            (click)="navigate(entry)">
            {{entry.id === selectedEntry ? '>' : ''}} {{entry.label}}
        </div>
    </div>
</div>

<div class="entries-bottom">
    <div *ngIf="!loggedIn" class="nav-entry admin-login" (click)="adminLogin()">
        Admin Login
    </div>
    
    <div *ngIf="loggedIn" class="nav-entry admin-login" (click)="adminLogout()">
        Logout
    </div>
</div>

<shared-ui-helpers-modal *ngIf="showAdminLogin">
    <app-login-form (closeModal)="closeLoginModal()"></app-login-form>
</shared-ui-helpers-modal>
