<div class="loader-box"  *ngIf="teams.length < 1 && !fetchError.status">
    <div class="loader">Loading...</div>
</div>

<div class="error-message" *ngIf="fetchError.status">
    <div class="error-message-box">
        <h2>{{fetchError.message.title}}</h2>
        <h3>{{fetchError.message.text}}</h3>
    </div>
</div>

<!-- Filters -->
<ng-container  *ngIf="teams.length > 0">
    <div class="button-group">
        <button (click)="toggleFilters()">Filter anzeigen/ausblenden</button>
        <button *ngIf="matchTable.length > 0" (click)="navigateToCurrentDate()">Zu heute springen</button>
    </div>
    <div class="filters" [class.hideFilters]="!showFilters">
        <div class="date-filters">
            <span class="date-filters-title"><b>Start/Ende:</b></span>
            <span>Start Datum:</span> 
            <input type="date" [value]="startDate | date: 'yyyy-MM-dd'" (change)="changeDate('startDate', $event)" />
            <span>End Datum:</span> 
            <input type="date" [value]="endDate | date: 'yyyy-MM-dd'" (change)="changeDate('endDate', $event)" />
        </div>

        <!-- Toggle Home/Away -->
        <div class="toggle-option-list">
            <span><b>Heim/Auswärts:</b></span>
            <div class="toggle-option">
                <input type="checkbox" (change)="createTableData()" [(ngModel)]="showHome" /> Heimspiele
            </div>
            <div class="toggle-option">
                <input type="checkbox" (change)="createTableData()" [(ngModel)]="showAway" /> Auswärtsspiele
            </div>
        </div>
        
        <!-- Toggle places -->
        <div class="toggle-option-list"> 
            <span><b>Spielort:</b></span>
            <div class="toggle-option">
                <input type="checkbox" 
                    name="place-schwarzach" 
                    (change)="createTableData()"
                    [(ngModel)]="places.schwarzach.show"/> 
                <label for="place-schwarzach">{{places.schwarzach.label}}</label>
            </div>
            <div class="toggle-option">
                <input type="checkbox" 
                    name="place-wolfurt"
                    (change)="createTableData()"
                    [(ngModel)]="places.wolfurt.show"/> 
                <label for="place-wolfurt">{{places.wolfurt.label}}</label>
            </div>

            <div class="toggle-option">
                <input type="checkbox" 
                    name="place-kennelbach"
                    (change)="createTableData()"
                    [(ngModel)]="places.kennelbach.show"/> 
                <label for="place-kennelbach">{{places.kennelbach.label}}</label>
            </div>

            <div class="toggle-option">
                <input type="checkbox" 
                    name="place-rest"
                    (change)="createTableData()"
                    [(ngModel)]="places.rest.show"/> 
                <label for="place-rest">{{places.rest.label}}</label>
            </div>
        </div>
        <div class="toggle-team-filter">
            <span><b>Teams:</b></span>
            <div class="toggle-boxes">
                <div class="toggle-team" *ngFor="let team of teams">
                    <input type="checkbox" 
                        (change)="toggleTeam(team.name, $event)" 
                        [checked]="teamsUiState.get(team)?.show" 
                        [name]="team.name"/> 
                    <label [for]="team.name">{{team.name}}</label>
                </div>
            </div>
            <button (click)="toggleAllTeams()">Alle an-/abwählen</button>
        </div>
    </div>

    <!-- Table -->
    <div class="table-wrapper" *ngIf="matchTable.length > 0">
        <table>
            <thead>
                <th class="firstColumn">Datum:</th>
                <ng-container *ngFor="let team of teams">
                    <th *ngIf="teamsUiState.get(team)?.show">{{team.name}}</th>
                </ng-container>
            </thead>
            <tbody>
                <tr *ngFor="let gameday of matchTable; let i = index" [class.isWeekend]="gameday.date.getDay() === 6 || gameday.date.getDay() === 0">
                    <td [id]="'row-' + i" class="firstColumn"><b>{{gameday.date | date: 'EEEE dd.MM.yyyy'}}</b></td>
                    <ng-container *ngFor="let team of gameday.teams">
                        <td [class.withoutGameTd]="team.events.length < 1"
                        [class.withGame]="team.events.length > 0">
                            <div *ngIf="team.events.length > 0">
                                <p><b>{{team.events[0].summary.value}}</b></p>
                                <p>{{team.events[0].description.value}}</p>
                                <hr>
                                <p>{{team.events[0].dtstart.value | date: 'HH:mm'}} Uhr</p>
                                <hr>
                                <p [class.location-home]="team.events[0].location.value.includes('Schwarzach')">
                                    {{team.events[0].location.value}}
                                </p>
                            </div>
                            <!-- <ng-container *ngIf="team.events.length < 1">
                                Kein Spiel
                            </ng-container> -->
                            <div [class.withoutGame]="team.events.length < 1">
                                
                            </div>
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>