$border-size: 1px;

:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}

.button-group {
  button {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  button:first-child {
    margin-left: 0;
  }
}

// FILTERS
.filters {
  display: flex;
  padding: 10px 10px;

  transition: padding 0.5s ease, margin 0.5s ease, max-height 0.5s ease,
    min-height 0.5s ease, opacity 0.2s ease;

  min-height: 100px;
  max-height: 300px;

  opacity: 1;

  border: $border-size solid var(--dark-blue);

  margin-bottom: 10px;

  overflow: auto;
  flex-wrap: wrap;
}

.hideFilters {
  min-height: 0px;
  max-height: 0px;

  opacity: 0;

  margin: 0;

  padding-top: 0;
  padding-bottom: 0;

  margin-bottom: 0;
}

.date-filters {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(3, max-content);
  grid-gap: 10px;

  align-items: baseline;
  margin-right: 10px;
  margin-bottom: 10px;

  .date-filters-title {
    grid-column: span 2;
  }
}

.toggle-option-list {
  margin-right: 10px;
  margin-bottom: 10px;
}

.toggle-team-filter {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.toggle-boxes {
  flex: 1;

  margin-bottom: 10px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  justify-content: start;
}

.toggle-team {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

// Matches table
.table-wrapper {
  display: flex;
  overflow: auto;
  border: $border-size solid var(--dark-blue);
  flex: 1;

  font-size: 0.8rem;
}

table {
  border-collapse: separate;
  border-spacing: 0px; // override default behaviour
  width: 100%;
  height: 100%;
  table-layout: fixed;
}

th,
td {
  border-left: $border-size solid var(--dark-blue);
  border-top: $border-size solid var(--dark-blue);
  text-align: left;
  vertical-align: top;
  padding: 5px 10px;

  width: 250px;

  p {
    margin: 0;
  }
}

th:nth-child(2),
td:nth-child(2) {
  border-left: none;
}

tr:first-child td {
  border-top: none;
}

th {
  position: sticky; //always show th even on scroll down
  top: 0;
  z-index: 2;
  border-top: none;
  background-color: var(--background);
  border-bottom: $border-size solid var(--dark-blue); //needs to be always visible and not disappear via scroll
}

.firstColumn {
  position: sticky;
  left: 0;
  z-index: 1;
  border-left: none;
  border-right: $border-size solid var(--dark-blue);
  background-color: var(--background);

  width: 100px;
}

thead .firstColumn {
  z-index: 3;
}

.withGame {
  min-width: 200px;

  .match-event {
    border-radius: 10px;
    padding: 10px;
    flex-direction: column;
    background-color: var(--medium-blue);
  }
}

.isWeekend .match-event {
  background-color: var(--regular-green);
}

.withoutGameTd {
  padding: 0;
  height: 100%;
  width: 100%;
}

.location-home {
  font-weight: bold;
  color: darkred;
}

hr {
  border: 1px solid var(--dark-blue);
}

@media only screen and (max-width: 600px) {
  th,
  td {
    width: 200px;
  }

  .firstColumn {
    width: 85px;
    padding: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .filter-button-text,
  .today-button-text {
    display: none;
  }
}
