$border-size: 1px;

// FILTERS
.filters {
  display: flex;
  padding: 10px 10px;

  transition: padding 0.5s ease, margin 0.5s ease, max-height 0.5s ease,
    min-height 0.5s ease, opacity 0.2s ease;

  min-height: 100px;
  max-height: 300px;

  opacity: 1;

  border: $border-size solid var(--dark-gray);

  margin-bottom: 10px;

  overflow: auto;
  flex-wrap: wrap;
}

.hideFilters {
  min-height: 0px;
  max-height: 0px;

  opacity: 0;

  margin: 0;

  padding-top: 0;
  padding-bottom: 0;

  margin-bottom: 0;
}

.date-filters {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(3, max-content);
  grid-gap: 10px;

  align-items: baseline;
  margin-right: 10px;
  margin-bottom: 10px;

  .date-filters-title {
    grid-column: span 2;
  }
}

.toggle-option-list {
  margin-right: 10px;
  margin-bottom: 10px;
}

.toggle-team-filter {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.toggle-boxes {
  flex: 1;

  margin-bottom: 10px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  justify-content: start;
}

.toggle-team {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}
