$text-shadow: black;

:host {
  display: flex;
  width: 100%;
}

.news-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;

  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.news-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 30px;

  font-weight: bold;
  color: white;

  position: absolute;
  bottom: 20px;

  text-shadow: -1px 0 $text-shadow, 0 1px $text-shadow, 1px 0 $text-shadow,
    0 -1px $text-shadow;

  .news-title-text {
    font-size: 2.5rem;
  }
}

.news-pic {
  width: 100%;
  height: 650px;
  object-fit: cover;
}

@media only screen and (max-width: 900px) {
  .news-title {
    .news-title-text {
      font-size: 2rem;
    }
  }

  .news-pic {
    height: 450px;
  }
}

@media only screen and (max-width: 600px) {
  .news-title {
    padding: 0 20px;

    .news-title-text {
      font-size: 1.5rem;
    }
  }
}
