<div (click)="toggleModal()" class="news-item" *ngIf="newsItem">
    <div class="news-title">
        <span class="news-title-text">{{newsItem.title}}</span>
        <span class="news-title-modified">{{newsItem.modified | date: 'dd.MM.yyy HH:mm'}}</span>
    </div>
    <img class="news-pic" [src]="newsItem?.image?.path" />
</div>


<shared-ui-helpers-modal *ngIf="showModal && newsItem">
    <div class="news-modal-content">
        <div class="modal-header">
            <div class="left-side">
                <h1>{{newsItem.title}}</h1>
                <span class="news-modified">{{newsItem.modified | date: 'dd.MM.yyyy HH:mm'}}</span>
            </div>
            <button class="close-modal-button delete-button" (click)="toggleModal()">X</button>
        </div>
        <div class="modal-main">
            <img class="news-modal-pic" [src]="newsItem?.image?.path" />
            <p [innerText]="newsItem.text"></p>
        </div>
    </div>
</shared-ui-helpers-modal>