/* You can add global styles to this file, and also import other style files */

@import "variables.scss";

html,
input {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

button {
  border: 2px solid var(--dark-blue);
  background-color: white;
  border-radius: 3px;
  padding: 5px 10px;

  width: max-content;
  height: max-content;

  &:hover {
    color: white;
    background-color: var(--dark-blue);
    cursor: pointer;
  }
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

input {
  border: 2px solid var(--dark-blue);
  padding: 5px 10px;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 0.8rem;
  }
}
