:host {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-right: 2px solid var(--dark-blue);
  background-color: white;
  overflow: hidden;
  transition: max-width 0.5s ease, min-width 0.5s ease, opacity 0.2s ease;
}

.nav-out {
  min-width: 200px;
  max-width: 300px;
  opacity: 1;
}

.nav-in {
  min-width: 0;
  max-width: 0;
  width: 0;
  opacity: 0;
}

.nav-entry {
  padding: 10px;

  &:hover {
    background-color: var(--regular-green);
    color: white;
    cursor: pointer;
  }
}

.admin-login {
  border-top: 2px solid var(--dark-blue);

  &:hover {
    background-color: var(--dark-gray);
  }
}

@media only screen and (max-width: 600px), screen and (max-height: 600px) {
  :host {
    position: absolute;
    height: 100%;
    z-index: 1000;
  }
}
